body {
  background-color: lightgrey;
}
.container {
  margin: 100px auto;
  max-width: 600px;
}

h1 {
  line-height: 1.5px;
  margin: 40px;
  text-align: center;
  font-weight: bold;
}
.form-container {
  background-color: aliceblue;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 20px 60px rgba(102, 220, 206, 0.2);
}
form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-text {
  width: 75%;
  padding: 10px;
  border: 1px solid darkcyan;
  border-radius: 30px;
  font-size: 13px;
}

.input-text:focus {
  outline: none;
}
.poem {
  margin-top: 30px;
  border-left: 5px solid darkcyan;
  padding: 10px;
  background-color: aliceblue;
  line-height: 25px;
  box-shadow: 0px 20px 60px rgba(102, 220, 206, 0.2);
}
.hidden {
  display: none;
}
#poem {
  white-space: pre-line;
  padding-left: 34px;
}
.poem strong {
  color: darkcyan;
}

footer {
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

.submit-button {
  background-color: darkcyan;
  padding: 12px;
  margin: 2px;
  border: none;
  border-radius: 30px;
  width: 80px;
  color: white;
}

a {
  color: darkcyan;
  font-weight: 500;
}
small {
  color: grey;
  margin-left: 10px;
  margin-top: 0;
  display: block;
}
